<html lang="en">
<head>
{{>header}}
</head>
<body class="container">
<h2>Change availability</h2>
<p>Please enter the id and select the status, then press change to complete the aleration</p>
</div>
<form method="post" role="form" action="/availableS">

<div class="form-group">
<label for="_id">Select an ID</label>
<input type="text" class="form-control" id="_id"
name="_id" placeholder="e.g. 1"
required>
</div>

<div class="form-group">
<label for="dishAvailability">Available</label>
<input type="text" class="form-control" id="dishAvailability"
name="dishAvailability" placeholder="available or unavailable"
required>
</div>

<div class="form-group">
<input type="submit" value="change" class="btn btn-primary">
</div>

</form>


<h1> Menu </h1>
<div class="text-right" style="margin-bottom: 1em;">
{{#user}}
  <a id="Back" href="/loggedin" class="btn btn-primary">
    Back to staff page
  </a>
{{/user}}

</div>
<div class="text-right">
</div>
{{#entries}}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{dishName}}</h4>
    <p class="card-text">
    Category: {{mealType}}<br>
    Description: {{description}}<br>
    Ingredients: {{ingredients}}<br>
    Allergens: {{allergens}}<br>
      {{price}}<br>
      {{_id}}<br>
      {{dishAvailability}}
     </p>
<div class="card-footer">
Menu item in the <a href="/posts/{{author}}">{{author}}</a> menu
</div>
</div>
{{/entries}}

{{^entries}}
No entries yet.
{{/entries}}

</body>
</html>